
.hero {
  background: url('../img/pinturainicial.jpeg') center/cover no-repeat;
  height: 80vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 5px #000;
}

.hero h1 {
  font-size: clamp(2rem, 5vw, 4rem);
}


.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-container iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}


.historia-img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}


body {
  font-family: 'Segoe UI', sans-serif;
}


.card-img-top {
         
  object-fit: contain;     
  background-color: #f3f3f3; 
  border-bottom: 1px solid #ddd;
}


.obra-img {
  width: 100%;
  height: 260px;
  object-fit: contain;
  background-color: #f3f3f3;
}
